.h-full-screen {
  height: 100vh;
}

.azzurra-swiper-slider {
  &__img-wrapper {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  &__img-content {
    height: 100%;
    width: 100%;
  }
}

.azzurra-custom-mask {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;

  img {
    height: 100%;
    width: 100%;
  }
}

.azzurra__shadow-none {
  &,
  &:focus {
    box-shadow: none;
  }
}
