.h-full-screen {
  height: 100vh;
}

.azzurra-swiper-slider {
  &__img-wrapper {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  &__img-content {
    height: 100%;
    width: 100%;
  }
}

.azzurra-custom-mask {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;

  img {
    height: 100%;
    width: 100%;
  }
}

.azzurra__shadow-none {
  &,
  &:focus {
    box-shadow: none;
  }
}

.ui__PersonCard__bio-container::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.ui__PersonCard__bio-container::-webkit-scrollbar-track {
  background: rgba(221, 202, 150, 0.4);
}

/* Handle */
.ui__PersonCard__bio-container::-webkit-scrollbar-thumb {
  background: #6F5B3C;
  border-radius: 5px;
}

/* Handle on hover */
.ui__PersonCard__bio-container::-webkit-scrollbar-thumb:hover {
  background: #625134;
}
