html {
    font-family: 'Tajawal', sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-azzurra-navy-blue: #242e63;
    --color-azzurra-dark-blue: #0f1337;
    --color-azzurra-gold: #bf9638;
    --color-azzurra-gray-70: #828180;
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    color: var(--color-black);
}

.container {
    width: 100%;
    position: relative;
}

.container__hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.container__brand-wrapper {
    position: relative;
}

.container__brand-wrapper svg {
    width: 100%;
}

.backgroundImage {
    position: absolute !important;
}

.download-card__wrapper {
    color: var(--color-azzurra-gray-70);
}

.download-card__wrapper:hover .download-card__icon {
    color: var(--color-black);
}

.download-card__wrapper .download-card__icon + span {
    line-height: 1.2 !important;
}
